{% extends "../templates/blog_post.html" %}

{% block title %}New website is live!{% endblock %}

{% block blogpost %}
        <h1><a href="/blog/0002/new-website/">New website is live!</a></h1>
        <p class="date">26 May 2012</p>
        <p>Welcome to my brand spanking new website and blog. I'm hoping for this to be a collection of ideas and insights, no doubt revolving around technology and programming (though it may just descend in to a place where I post overexposed pictures of dilapidated buildings and funny cat photos).</p>
        <p>If you want to know more about me, check out my <a href="/about/">about</a> page.</p>
        <p>Oh, and don't forget to follow me on Twitter:</p>
        <p><a href="https://twitter.com/maxjaderberg" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @maxjaderberg</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
{% endblock %}