{% extends "../templates/blog_post.html" %}

{% block title %}How to hide Facebook.com email address on profile{% endblock %}

{% block blogpost %}
        <h1><a href="/blog/0004/hide-facebook-email-address/">How to hide Facebook.com email address on profile</a></h1>
        <p class="date">25 June 2012</p>
        <p>Facebook have decided to automatically replace everyone's normal email address on their profile with a Facebook email address (yourname@facebook.com) without your permission. This means that someone trying to email you will just end up sending you a Facebook message, which is not what you want.</p>
        <p>It is very simple however to change it back to hide the @facebook.com email and show your normal email address.</p>
        <p>First click on the "about" box on your profile.</p>
        <img src="/media/img/blogposts/0004/aboutbox.png" style="width:250px;margin-top: 0px;margin-right: 20px;">
        <p>In your "Contact Info" you will see my @facebook.com email is displayed automatically without me wanting it there.</p>
        <img src="/media/img/blogposts/0004/wrongemail.png" style="width:250px;margin-top: 0px;margin-right: 20px;">
        <p>Click "Edit" and then ensure that you select "Hidden from Timeline" next to your @facebook.com email and "Shown on Timeline" next to your actual email address.</p>
        <img src="/media/img/blogposts/0004/hidefromtimeline.png" style="width:450px;">
        <p><b><i>Now click "Save" at the bottom of the form!</i></b></p>
        <img src="/media/img/blogposts/0004/clicksave.png" style="width:250px;">
        <p>All done! Now you have your regular email address back on show and avoid your emails going to your Facebook inbox.</p>
{% endblock %}