{% extends "../templates/blog_post.html" %}

{% block title %}Head First C{% endblock %}

{% block blogpost %}
        <h1><a href="/blog/0006/head-first-c/">Head First C</a></h1>
        <p class="date">22 August 2012</p>
        <p>I've used the C programming language throughout my degree and on various projects, and there is no doubt it is an amazing tool. It gives you complete dominion over your computer, and when you start talking about microprocessors and Arduinos, there's really no other option.</p>
        <img src="/media/img/blogposts/0006/coding.png" style="width:300px;" title="OH YEAH, CODING YEAH!">
        <p>However, it's tricky...really tricky. You're down to the nuts and bolts of your computer, which can be both a blessing and a curse. Suddenly you have to worry about memory, file descriptors and pipes. And if, like me you're experience of programming has been built up from high level languages like Javascript and Python, you probably don't have a clue what's going on, and it's scary.</p>
        <p>In the past I've just blindly gone at it, adding *s and &s all over the place until it works. But now I decided to finally get over my fear and learn C properly.</p>
        <p>I bought the book "Head First C" after a recommendation from Hacker News. It's readable, witty, and I now feel like a C king. What's more, it actually goes in to a lot of practical detail about computer science and operating systems that you don't get told anywhere else (for us non computer scientists). So many little things were cleared up - for example, how compilers work, what pipes are, memory management, dynamic libraries.</p>
        <img src="/media/img/blogposts/0006/head-first-c.jpeg" style="width:200px;" alt="Head First C">
        <p>I've <i>never</i> thought that a book can solve anything when it comes to coding - so many of the books I buy end up unread and useless compared to online resources. However, Head First C gave me the focus to actually learn this damned language! Highly recommended.</p>
{% endblock %}