html {
	background-color: #fff;
    background: url(../img/struckaxiom.png) repeat center center fixed;
    height: 100%; width: 100%;
}

body {
    padding: 0; margin: 0;
    width: 100%;
    font-family: 'MuseoSans-500', Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    min-width: 1000px;
    animation: rotateload 5s;
    -moz-animation: rotateload 5s; /* Firefox */
    -webkit-animation: rotateload 5s; /* Safari and Chrome */
}

@keyframes rotateload
{
from {transform: rotate3d(-1,1,0,-20deg);
    -webkit-transform: rotate3d(-1,1,0,-20deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,-20deg); /* Firefox */
    }
to {transform: rotate3d(-1,1,0,0deg);
    -webkit-transform: rotate3d(-1,1,0,0deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,0deg); /* Firefox */
    }
}

@-moz-keyframes rotateload /* Firefox */
{
from {transform: rotate3d(-1,1,0,-20deg);
    -webkit-transform: rotate3d(-1,1,0,-20deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,-20deg); /* Firefox */
    }
to {transform: rotate3d(-1,1,0,0deg);
    -webkit-transform: rotate3d(-1,1,0,0deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,0deg); /* Firefox */
    }
}

@-webkit-keyframes rotateload /* Safari and Chrome */
{
from {transform: rotate3d(-1,1,0,-20deg);
    -webkit-transform: rotate3d(-1,1,0,-20deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,-20deg); /* Firefox */
    }
to {transform: rotate3d(-1,1,0,0deg);
    -webkit-transform: rotate3d(-1,1,0,0deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,0deg); /* Firefox */
    }
}

div {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    padding: 0; margin: 0;
}

a{
    text-decoration: none;
    color: #fff;
    border: none;
}

img{
    border: none;
}

.centered{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
}

.header{
    margin-top: 50px;
    height: 150px;
}

.header a{
    color: #fff;
    text-shadow: -1px -1px 0px #333, 1px 1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
    font-size: 122px;
    letter-spacing: -3px;
    text-align: center;
}

#logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

#navhome{
    margin-left: -630px;
}

#navlogo{
    height: 80px;
    width: 80px;
}

#navlist{
    margin-top: -62px;
    margin-left: 100px;
}


.nav{
    height: 100px;
    margin-top: 30px;
    color: white;
    text-shadow: -1px -1px 0px #333, 1px 1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
    font-size: 30px;
    min-width: 900px;
    width: 900px;
}

.nav span{
    color: #333;
    margin: 0 20px 0 20px;
    text-shadow: none;
}

.nav a{
    color: #fff;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}

.nav a.about:hover{
    color: #ff8340;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
} .nav a.about.selected { color: #ff8340; }
.nav a.projects:hover{
    color: #00a2ff;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
} .nav a.projects.selected { color: #00a2ff; }
.nav a.findme:hover{
    color: #ff4073;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
} .nav a.findme.selected { color: #ff4073; }
.nav a.blog:hover{
    color: #59d91f;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
} .nav a.blog.selected { color: #59d91f; }

.shadow {
  -moz-box-shadow:    0px 0px 2px 1px #333;
  -webkit-box-shadow: 0px 0px 2px 1px #333;
  box-shadow:         0px 0px 2px 1px #333;
}

.content{
    width: 700px;
    min-width: 700px;
    min-height: 400px;
    /*border: 2px #333 solid;*/
    background: url(../img/crosses.png) repeat center center scroll;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: -1px -1px 1px #fff;
    padding-bottom: 20px;
}

.content h1{
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 2px #333 solid;
    letter-spacing: -2px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.content p{
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: -1px;
}

.content img{
    width: 200px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px; /* future proofing */
    -khtml-border-radius: 25px; /* for old Konqueror browsers */
    -moz-box-shadow:    0px 0px 1px 1px #333;
    -webkit-box-shadow: 0px 0px 1px 1px #333;
    box-shadow:         0px 0px 1px 1px #333;
}


.content blockquote{
    color:#666666;
    margin:0;
    padding-left: 3em;
    border-left: 0.5em #ccc solid;
}

.content a{
    color: #006299;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
} .content a:hover{
    color: #00a2ff;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}

.stroketext{
    color: white;
    text-shadow: -1px -1px 0px #333, 1px 1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
}

.project{
    width: 1000px;
    margin-bottom: 250px;
    margin-top: 190px;
}


.project .title{
    width: 200px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-left: -350px;
    margin-bottom: -220px;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.project .project-box{
    width: 600px;min-width: 600px;min-height: 150px;
    margin-bottom: 50px;
}