html {
	background-color: #fff;
    background: url(../img/struckaxiom.png) repeat center center fixed;
    height: 100%; width: 100%;
}

body {
    padding: 0; margin: 0;
    width: 100%;
    font-family: 'MuseoSans-500', Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    min-width: 1000px;
    /*animation: rotateload 5s;*/
    /*-moz-animation: rotateload 5s; *//* Firefox */
    /*-webkit-animation: rotateload 5s; *//* Safari and Chrome */
}

@keyframes rotateload
{
from {transform: rotate3d(-1,1,0,-10deg);
    -webkit-transform: rotate3d(-1,1,0,-10deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,-10deg); /* Firefox */
    }
to {transform: rotate3d(-1,1,0,0deg);
    -webkit-transform: rotate3d(-1,1,0,0deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,0deg); /* Firefox */
    }
}

@-moz-keyframes rotateload /* Firefox */
{
from {transform: rotate3d(-1,1,0,-10deg);
    -webkit-transform: rotate3d(-1,1,0,-10deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,-10deg); /* Firefox */
    }
to {transform: rotate3d(-1,1,0,0deg);
    -webkit-transform: rotate3d(-1,1,0,0deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,0deg); /* Firefox */
    }
}

@-webkit-keyframes rotateload /* Safari and Chrome */
{
from {transform: rotate3d(-1,1,0,-10deg);
    -webkit-transform: rotate3d(-1,1,0,-10deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,-10deg); /* Firefox */
    }
to {transform: rotate3d(-1,1,0,0deg);
    -webkit-transform: rotate3d(-1,1,0,0deg); /* Safari and Chrome */
    -moz-transform: rotate3d(-1,1,0,0deg); /* Firefox */
    }
}

div {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    padding: 0; margin: 0;
}

a{
    text-decoration: none;
    color: #fff;
    border: none;
}

img{
    border: none;
}

.centered{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
}

.header{
    margin-top: 50px;
    height: 150px;
}

.header a{
    color: #fff;
    text-shadow: -1px -1px 0px #333, 1px 1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
    font-size: 122px;
    letter-spacing: -3px;
    text-align: center;
}

#logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

#navhome{
    margin-left: -630px;
}

#navlogo{
    height: 80px;
    width: 80px;
} #navlogo:hover{
    opacity: 0.8;
}

#navlist{
    margin-top: -62px;
    margin-left: 100px;
}


.nav{
    height: 100px;
    margin-top: 30px;
    color: white;
    text-shadow: -1px -1px 0px #333, 1px 1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
    font-size: 30px;
    min-width: 900px;
    width: 900px;
}

.nav span{
    color: #333;
    margin: 0 20px 0 20px;
    text-shadow: none;
}

.nav a{
    color: #fff;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}

.nav a.about:hover{
    color: #F7B42C;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
} .nav a.about.selected { color: #F7B42C; }
.nav a.projects:hover{
    color: #4BF;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
} .nav a.projects.selected { color: #4BF; }
.nav a.findme:hover{
    color: #F27490;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
} .nav a.findme.selected { color: #F27490; }
.nav a.blog:hover{
    color: #AAD450;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
} .nav a.blog.selected { color: #AAD450; }

.shadow {
  -moz-box-shadow:    0px 0px 2px 1px #333;
  -webkit-box-shadow: 0px 0px 2px 1px #333;
  box-shadow:         0px 0px 2px 1px #333;
}

.content{
    width: 700px;
    min-width: 700px;
    min-height: 400px;
    /*border: 2px #333 solid;*/
    /*background: url(../img/crosses.png) repeat center center scroll;*/
    background-color: #fafafa;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: -1px -1px 1px #fff;
    padding-bottom: 20px;
    margin-bottom: 50px;
    font-family: Helvetica;
    letter-spacing: 0px;
    line-height: 200%;
}

.content h1{
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 2px #333 solid;
    letter-spacing: -2px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

.content h1 a{
    color: #333;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
} .content h1 a:hover{
    color: #555;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}

.content .date{
    padding-top: 0px;
    margin: -35px 0 20px 0;
    font-size: 12px;
    color: #666;
    font-weight: bolder;
}

.content p{
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
    line-height: 170%;
    padding-bottom: 10px;
}

.content img{
    width: 200px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px; /* future proofing */
    -khtml-border-radius: 25px; /* for old Konqueror browsers */
    -moz-box-shadow:    0px 0px 1px 1px #333;
    -webkit-box-shadow: 0px 0px 1px 1px #333;
    box-shadow:         0px 0px 1px 1px #333;
}


.content blockquote{
    color:#666666;
    margin:0;
    padding-left: 3em;
    border-left: 0.5em #ccc solid;
}

.content a{
    color: #00a2ff;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
} .content a:hover{
    color: #38b6ff;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}

.stroketext{
    color: white;
    text-shadow: -1px -1px 0px #333, 1px 1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
}

.project{
    width: 1000px;
    margin-bottom: 250px;
    margin-top: 240px;
}


.project .title{
    width: 200px;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-left: -350px;
    margin-bottom: -280px;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.project .project-box{
    width: 600px;min-width: 600px;min-height: 150px;
    margin-bottom: 50px;
}

a.next-page{
    margin-left: 50px;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}

span.page-arrows{
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

a.prev-page{
    margin-right: 50px;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}

a.page-button:hover{
    color: #6bc400;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}

#cv-tagline{
    font-style: normal;
    color: #333;
    text-align: right;
    font-size: 25px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.cv-section{
    margin-top: -10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #333333;
    text-shadow: none;
    font-style: italic;
    padding-left: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 10px;
    margin-top: 10px;
    	-webkit-box-shadow: 0 1px 2px #777;
	-moz-box-shadow: 0 2px 1px #777;
	box-shadow: 0 2px 1px #777;
}

.cv-section .line{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-left: 20px;
    position: absolute;
    margin-top: 20px;
}


/* CV TABLE */
.cv-section-content table{
    border-collapse:  separate;
    border-spacing: 0 20px;
}
.cv-section-content table .date-col{
    width: 60px;
    font-size: 18px;
    color: #666;
    font-weight: bolder;
    margin: 0px;
    padding: 0 10px 0 0;
    vertical-align: top;
}
.cv-section-content table .title-col{
    vertical-align: top;
    max-width: 300px;
    min-width: 150px;
    width: auto;
    white-space: nowrap;
}
.cv-section-content table .title-col .title{
    font-weight: bold;
    font-size: 22px;
    padding: 0 20px 0 0;
    margin: 0px;
}
.cv-section-content table .title-col .subtitle {
    padding: 0px;
    font-weight: bold;
    font-style: normal;
    color: #333;
    margin: -5px 0 0 0;
}

.cv-section-content table .description-col{
    width: 100%;
    border-left: #666 solid 4px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2em;
    color: #444;
}
.cv-section-content table .description-col p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color: #444;
    line-height: 1.2em;
    padding-bottom: 5px;
}

.cv-section-content table .description-col ul{
    margin: 0 0 0 20px; padding: 0px;
}

.cv-section-content .contact-text p{
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2em;
    color: #444;
    padding-top: 0px;
}