html {
	background-color: #fff;
    background: url(../img/struckaxiom.png) repeat center center scroll;
    height: 100%; width: 100%;
}

body {
    padding: 0; margin: 0;
    width: 100%;
    font-family: 'MuseoSans-500', Helvetica, sans-serif;
    text-align: center;
    min-width: 1000px;
    animation: rotateload 5s;
    -moz-animation: rotateload 5s; /* Firefox */
    -webkit-animation: rotateload 5s; /* Safari and Chrome */
}

@keyframes rotateload
{
from {transform: rotateX(-30deg);
    -webkit-transform: rotateX(-30deg); /* Safari and Chrome */
    -moz-transform: rotateX(-30deg); /* Firefox */}
to {transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg); /* Safari and Chrome */
    -moz-transform: rotateX(0deg); /* Firefox */}
}

@-moz-keyframes rotateload /* Firefox */
{
from {transform: rotateX(-30deg);
    -webkit-transform: rotateX(-30deg); /* Safari and Chrome */
    -moz-transform: rotateX(-30deg); /* Firefox */}
to {transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg); /* Safari and Chrome */
    -moz-transform: rotateX(0deg); /* Firefox */}
}

@-webkit-keyframes rotateload /* Safari and Chrome */
{
from {transform: rotateX(-30deg);
    -webkit-transform: rotateX(-30deg); /* Safari and Chrome */
    -moz-transform: rotateX(-30deg); /* Firefox */}
to {transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg); /* Safari and Chrome */
    -moz-transform: rotateX(0deg); /* Firefox */}
}

div {
    display: block;
    margin: 0;
    padding: 0;
}

p {
    padding: 0; margin: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

.centered{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
}

.header{
    margin-top: 50px;
    height: 150px;
}

.header a{
    color: #fff;
    text-shadow: -1px -1px 0px #333, 1px 1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
    font-size: 122px;
    letter-spacing: -3px;
    text-align: center;
}

.nav{
    height: 100px;
    margin-top: 30px;
    color: white;
    text-shadow: -1px -1px 0px #333, 1px 1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
    font-size: 30px;
    min-width: 700px;
    width: 700px;
}

.nav span{
    color: #333;
    margin: 0 20px 0 20px;
    text-shadow: none;
}

.nav a{
    color: #fff;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}

.nav a#about:hover{
    color: #ff8340;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}
.nav a#projects:hover{
    color: #00a2ff;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}
.nav a#findme:hover{
    /*color: #33cc77;*/
    color: #ff4073;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}
.nav a#blog:hover{
    /*color: #33cc77;*/
    color: #59d91f;
    transition: color 0.218s;
    -moz-transition: color 0.218s; /* Firefox 4 */
    -webkit-transition: color 0.218s; /* Safari and Chrome */
    -o-transition: color 0.218s; /* Opera */
}